// 基础配置  后续在拓展添加
$bg: #ffddce;
$btnBg: #fc8d59;
// 创建PingFang SC 字体font-face

$font-dir: "../assets/fonts/";

@font-face {
    font-family: "PingFangSC";
    src: url("#{$font-dir}PingFangSCRegular.ttf") format("truetype");
}

@font-face {
    font-family: 'HyleMiaoTIJ';
    src: url("#{$font-dir}HYLeMiaoTiJRegular.ttf") format("truetype")
}
//定义按钮

@mixin btn($w, $h, $fs){
  width: $w;
  height: $h;
  padding: 0;
  line-height: $h;
  background-color: $btnBg;
  border: none;
  outline: none;
  border-radius: 5px;
  font-family:'PingFangSCRegular', sans-serif;
  font-size: $fs;
  font-weight: 300;
  color: #ffffff;
  cursor: pointer;
}

